body {
	font-family: "Georgia";
	border-top: 3px solid #b34924;
	background-image: url('/img/gradient.png');
	background-repeat: repeat-x;
}

div#wrapper {
	margin: 0 auto;
	width: 720px;
}

div#header {
	margin: 0 auto;
}

div#header img {
	float: left;
}

div#header ul {
	list-style: none;
}

div#header ul li {
	padding-bottom: 5px;
	color: #888888;
}

div#header a:link, a:visited {
	text-decoration:  none;
	color:            #888888;
}

div#header a:hover {
	font-weight: bold;
}

div#header-menu {
	float: right;
	width: 50px;
	position: relative;
	left: -15px;
	top: 10px;
}

div#stage {
	clear: both;
	padding-top: 20px;
}

div#about {
	padding-top: 30px;
	padding-left: 50px;
}

div#video-screen {
	position: absolute;
	display: none;
	width: 640px;
	height: 360px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.thumbnail {
	float: left;
}

.thumbnail:nth-child(even) {background: #999999}
.thumbnail:nth-child(odd) {background: #CCCCCC}
