body {
	font-family: "Georgia";
	border-top: 3px solid #b34924;
	background-image: url('/img/gradient.png');
	background-repeat: repeat-x;
}

div#wrapper {
	margin: 0 auto;
	width: 720px;
}

div#landing {
	margin: 0 auto;
	width: 400px;
	padding-top: 200px;
}

div#landing h3 {
	font-size: 120%;
}

.smallprint {
	font-size: 80%;
}

div#header {
	margin: 0 auto;
}

div#header img {
	float: left;
}

div#header ul {
	list-style: none;
}

div#header ul li {
	padding-bottom: 5px;
	color: #888888;
}

div#header a:link, a:visited {
	text-decoration:  none;
	color:            #888888;
}

div#header a:hover {
	font-weight: bold;
}

div#header-menu {
	float: right;
	width: 50px;
	position: relative;
	left: -15px;
	top: 10px;
}

div#stage {
	clear: both;
	width: 800px;
	padding-top: 20px;
}

div#about {
	padding-top: 30px;
	padding-left: 50px;
}

div#video-container {
    background-color:#111;
    opacity: 0.65;
    filter:alpha(opacity=65);
    position:fixed;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
}

div#video-screen {
	position: fixed;
	width: 640px;
	height: 360px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.thumbnail {
	border: 2px solid white;
}

.thumbnail:nth-child(even) {background: #999999}
.thumbnail:nth-child(odd) {background: #CCCCCC}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
